<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - VetCare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <h1>Contact Us</h1>
    <p>If you have any questions or concerns, please don't hesitate to contact us.</p>
    <h3>Phone</h3>
    <p>+(03) 0000 0000</p>
    <h3>Email</h3>
    <p>info@vetcare.com.au</p>
</div>
</body>
</html>