<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - VetCare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <h1>Privacy Policy</h1>
    <p>
        This is the privacy policy for VetCare. We value your privacy and are committed to protecting your personal information.
    </p>
    <h3>Information We Collect</h3>
    <p>
        <ul>
            <li>Your name</li>
            <li>Your email address</li>
            <li>Your phone number</li>
            <li>Your address</li>
            <li>Your pet's details</li>
        </ul>
    </p>
    <h3>How We Use Information</h3>
    <p>
        We use the information collected to provide you with an easy and convenient way to care for your pets. 
        Your data is stored securely and is never shared with third parties.
    </p>
</div>
</body>
</html>