<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>Logout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5" layout:fragment="content">
        <h1>Logout Successful</h1>
        <p>You have been successfully logged out.</p>
        <a href="/login" class="btn btn-primary">Go to Login</a>
</div>
</body>

</html>